.hero-section {
  max-height: 100vh;
  width: 70%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.hero__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  overflow: hidden;
  h1 {
    font-size: 4rem;
    font-weight: 600;
    line-height: 1;
  }

  h2 {
    font-size: 2.25rem;
    color: $accent;
    font-weight: 500;
  }
  p {
    font-size: 1rem;
    font-family: 400;
  }
}

.hero__button {
  margin-top: 2rem;
  text-transform: uppercase;
  background-color: #fff;
  border: 1px solid $accent;
  padding: 1rem 2rem;
  width: 70%;
  border-radius: 5px;
  cursor: pointer;
  &:hover,
  &:focus {
    background-color: $accent;
    color: white;
  }
}

.hero__img {
  margin: 0rem auto;
}

.hero__store {
  margin-top: 7rem;
}

@media screen and (max-width: 684px) {
  .hero-section {
    width: 95%;
    margin: 5rem auto 0rem;
    h1 {
      margin: 0;
      font-size: 3rem;
      text-align: start;
    }

    h3 {
      font-size: 2rem;
      text-align: start;
    }
    p {
      text-align: start;
    }
  }

  .hero__button {
    width: 100%;
  }

  .hero__img {
    img {
      width: 100%;
      margin: 3rem auto;
    }
  }
}
