/* Colors */

$black: #212121;
$white: #fff;
$gray: #c4c4c4;
$accent: #5aa41f;

@import "_global";
@import "_navigation";
@import "_hero";
@import "_benefits";
@import "_hiw";
@import "_about";
@import "_beta";
@import "_footer";
